<div>
  <h2>Total Products: <%= @total_products %></h2>
</div>
<div>
  <h2>Total Categories: <%= @total_categories %></h2>
</div>
<%= link_to "Products", [:admin, :products], class: 'btn btn-lg btn-primary' %>


